.author {
  background-color: $c-ghost-white;

  &__wrapper {
    padding-top: 140px;
    padding-bottom: 140px;

    @media (max-width: 1430px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media (max-width: 480px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__content {
    display: flex;
    flex-basis: 50%;
    padding-top: 10px;
    padding-bottom: 30px;

    @media (max-width: 1430px) {
      justify-content: space-around;
    }
    @media (max-width: 1024px) {
      align-items: center;
    }
    @media (max-width: 768px) {
      flex-basis: 30%;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
    }
    @media (max-width: 640px) {
      flex-basis: 20%;
    }
    @media (max-width: 480px) {
      @include flex-column;
    }
  }

  &__image-wrapper {
    position: relative;
    right: 26px;
    max-height: 620px;
    max-width: 525px;

    @media (max-width: 1430px) {
      max-height: 496px;
      max-width: 420px;
    }
    @media (max-width: 1024px) {
      max-height: 310px;
      max-width: 262px;
    }
    @media (max-width: 768px) {
      right: 0;
      max-height: 148px;
      max-width: 126px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 28px;
      width: 525px;
      height: 620px;
      border: 10px solid $c-sunglow;

      @media (max-width: 1430px) {
        height: 496px;
        width: 420px;
      }
      @media (max-width: 1024px) {
        top: 8px;
        left: 8px;
        height: 310px;
        width: 262px;
      }
      @media (max-width: 768px) {
        height: 148px;
        width: 126px;
        border: 5px solid $c-sunglow;
      }
    }
  }

  &__image {
    position: relative;
    z-index: 90;
    height: 620px;
    width: 525px;

    @media (max-width: 1430px) {
      height: 496px;
      width: 420px;
    }
    @media (max-width: 1024px) {
      height: 310px;
      width: 262px;
    }
    @media (max-width: 768px) {
      height: 148px;
      width: 126px;
    }
  }

  &__description {
    max-width: 605px;
    margin-left: 173px;
    flex-basis: 50%;

    @media (max-width: 1430px) {
      margin-left: 40px;
    }
    @media (max-width: 1024px) {
      margin-top: 0;
      margin-left: 10px;
    }
    @media (max-width: 768px) {
      flex-basis: 70%;
    }
    @media (max-width: 580px) {
      flex-basis: 60%;
    }
    @media (max-width: 480px) {
      margin-top: 35px;
      margin-left: 0;
      @include flex-column;
      @include title;
      align-items: center;
      text-align: center;
    }
  }

  &__title {
    margin-top: 45px;
    @include title2;

    @media (max-width: 1430px) {
      margin-top: 23px;
    }
    @media (max-width: 1024px) {
      margin-top: 0;
    }
    @media (max-width: 480px) {
      @include title;
    }
  }

  &__text {
    margin-top: 60px;
    font-size: $fs-base;
    line-height: 34.2px;
    color: $c-spanish-gray;

    @media (max-width: 1430px) {
      margin-top: 40px;
      font-size: $fs-header;
    }
    @media (max-width: 1024px) {
      margin-top: 40px;
      font-size: $fs-header - 2px;
      line-height: normal;
    }
    @media (max-width: 768px) {
      margin-top: 20px;
      font-size: $fs-header - 4px;
      line-height: normal;
    }
  }

  &__counters {
    @include flex-row;
    margin-left: 10px;
    margin-top: 41px;

    @media (max-width: 1430px) {
      margin-top: 20px;
    }
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__card {
    max-width: 444px;
    max-height: 121px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    margin-top: 55px;
    background-color: $c-indigo;

    @media (max-width: 1430px) {
      margin-top: 25px;
      padding: 15px 15px;
    }
    @media (max-width: 1024px) {
      margin-top: 15px;
    }
    @media (max-width: 768px) {
      max-width: 250px;
      max-height: 60px;
      margin-top: 10px;
    }
  }
}

.author-counter {
  position: relative;

  @media (max-width: 1024px) {
    display: none;
  }

  &:nth-child(2) {
    margin-left: 75px;
  }

  &:nth-child(3) {
    margin-left: 99px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 170px;
    width: 1px;
    height: 98px;
    background-color: $c-sunglow;

    @media (max-width: 1430px) {
      left: -10px;
    }
  }

  &__number {
    font-family: $f-Cardo;
    font-size: $fs-counters;

    @media (max-width: 1430px) {
      font-size: $fs-h2;
    }
  }

  &__text {
    margin-top: 9px;
    font-size: $fs-header;
    color: $c-spanish-gray;
  }
}

.author-card {
  &__image {
    max-width: 130px;
    max-height: 130px;

    @media (max-width: 1430px) {
      max-width: 75px;
      max-height: 75px;
    }
    @media (max-width: 768px) {
      max-width: 45px;
      max-height: 45px;
    }
  }

  &__info {
    margin-left: 40px;
    margin-top: 24px;

    @media (max-width: 1430px) {
      margin-left: 40px;
      margin-top: 0;
    }
    @media (max-width: 768px) {
      margin-left: 20px;
    }
  }

  &__name {
    color: $c-sunglow;
    font-family: $f-Cardo;
    font-size: $fs-h5 + 1px;

    @media (max-width: 1430px) {
      font-size: $fs-base;
    }
    @media (max-width: 1024px) {
      font-size: $fs-header;
    }
    @media (max-width: 768px) {
      font-size: $fs-header - 3px;
    }
  }

  &__mail {
    margin-top: 16px;
    font-size: $fs-description;
    letter-spacing: 0.19 px;
    color: $c-light-steel-blue;

    @media (max-width: 1430px) {
      font-size: $fs-description - 2px;
      margin-top: 10px;
    }
    @media (max-width: 1024px) {
      font-size: $fs-description - 4px;
    }
    @media (max-width: 768px) {
      margin-top: 5px;

      font-size: $fs-description - 6px;
    }
  }

  &__phone {
    margin-top: 13px;
    font-size: $fs-description;
    letter-spacing: 0.19 px;
    color: $c-light-steel-blue;

    @media (max-width: 1430px) {
      font-size: $fs-description - 2px;
      margin-top: 10px;
    }
    @media (max-width: 1024px) {
      font-size: $fs-description - 4px;
    }
    @media (max-width: 768px) {
      margin-top: 5px;
      font-size: $fs-description - 6px;
    }
  }
}
