.books {
  background-color: $c-cultured;
  color: $c-indigo;

  &__wrapper {
    padding: 127px 50px 148px 50px;
  }

  &__title {
    @include title;
  }

  &__content {
    margin-top: 100px;
    display: flex;
    flex-basis: 50%;
  }

  &__card {
    // max-width: 382px;
    display: flex;
    flex-basis: 50%;

    &:first-child {
      margin-left: 20px;
    }

    &--image {
      max-width: 285px;
      max-height: 382px;
    }
  }
}
