.books {
  background-color: $c-cultured;
  color: $c-indigo;

  &__wrapper {
    padding: 110px 50px 90px 50px;

    @media (max-width: 1430px) {
      padding: 50px 50px 50px 50px;
    }
    @media (max-width: 480px) {
      padding: 20px 30px 20px 30px;
    }
  }

  &__title {
    margin-top: 16px;
    @include title;
  }

  &__content {
    @include flex;
    align-items: flex-start;
    padding-bottom: 60px;
    padding-top: 100px;

    @media (max-width: 1024px) {
      padding-top: 40px;
      padding-bottom: 30px;
    }
    @media (max-width: 768px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    @media (max-width: 480px) {
      @include flex-column;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__card {
    display: flex;
    flex-basis: 50%;
    margin-left: 12px;

    @media (max-width: 1024px) {
      align-items: center;
    }
    @media (max-width: 768px) {
      margin-left: 0;
    }

    &:nth-child(2) {
      @media (max-width: 768px) {
        margin-top: 20px;
      }
    }
  }
}

.books-card {
  @include flex-column;
  padding-top: 36px;
  margin-left: 30px;

  @media (max-width: 1430px) {
    padding-top: 0;
  }
  @media (max-width: 1024px) {
    margin-left: 10px;
  }
  @media (max-width: 768px) {
    margin-left: 5px;
  }

  &__image {
    max-width: 285px;
    max-height: 382px;
    @include shadow;

    @media (max-width: 1430px) {
      max-width: 228px;
      max-height: 305px;
    }
    @media (max-width: 1024px) {
      max-width: 170px;
      max-height: 210px;
    }
    @media (max-width: 768px) {
      max-width: 91px;
      max-height: 122px;
    }
  }

  &__title {
    font-family: $f-Cardo;
    font-size: $fs-h3;
    line-height: 38.4px;
    letter-spacing: 0.32px;

    @media (max-width: 1430px) {
      font-size: $fs-h4;
    }
    @media (max-width: 1024px) {
      font-size: $fs-h5;
    }
    @media (max-width: 768px) {
      font-size: $fs-header - 4px;
      line-height: normal;
    }
  }

  &__price {
    margin-top: 14px;
    font-size: $fs-h5;
    color: $c-sunglow;

    @media (max-width: 1430px) {
      margin-top: 7px;
    }
    @media (max-width: 1024px) {
      font-size: $fs-header - 2px;
      margin-top: 2px;
    }
    @media (max-width: 768px) {
      font-size: $fs-header - 6px;
      line-height: normal;
    }
  }

  &__description {
    margin-top: 19px;
    font-size: $fs-base;
    line-height: 28.5px;

    @media (max-width: 1430px) {
      margin-top: 7px;
    }
    @media (max-width: 1024px) {
      font-size: $fs-header - 2px;
      line-height: normal;
    }
    @media (max-width: 768px) {
      margin-top: 2px;
      font-size: $fs-header - 7px;
    }
  }

  &__printed {
    position: relative;
    margin-left: 24px;
    margin-top: 15px;
    font-size: $fs-h4;
    font-family: $f-Cardo;
    line-height: 28.8px;

    @media (max-width: 1024px) {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 3px;
      left: -25px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $c-sunglow;
    }
  }

  &__button {
    max-width: 210px;
    margin-top: 27px;

    @media (max-width: 1024px) {
      margin-top: 10px;
    }
  }
}
