.chapters {
  background-color: $c-alice-blue;

  &__wrapper {
    padding-top: 118px;
    padding-bottom: 122px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1430px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media (max-width: 480px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__title {
    @include title;
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__cards {
    margin-left: 3px;
    display: flex;
    flex: 50%;

    @media (max-width: 768px) {
      @include flex-column;
    }

    &:nth-child(1) {
      margin-top: 98px;
      margin-bottom: 42px;

      @media (max-width: 1430px) {
        margin-top: 70px;
      }
      @media (max-width: 1040px) {
        margin-top: 40px;
      }
      @media (max-width: 768px) {
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
  }

  &__card {
    padding: 42px 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 50%;
    background-color: $c-white;
    color: $c-indigo;
    width: 595px;
    height: 198px;
    position: relative;

    @media (max-width: 1430px) {
      width: 390px;
      height: 200px;
    }
    @media (max-width: 1024px) {
      width: 300px;
      height: 180px;
    }
    @media (max-width: 768px) {
      width: 400px;
      height: 80px;
      padding: 5px 0 5px 5px;
    }
    @media (max-width: 480px) {
      width: 200px;
      height: 80px;
    }

    &:nth-child(2) {
      margin-left: 30px;

      @media (max-width: 768px) {
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }

  &__counter {
    display: flex;
    margin-top: 8px;

    @media (max-width: 1430px) {
      flex-direction: column;
      margin-top: 10px;
    }
    @media (max-width: 1024px) {
      margin-top: 5px;
    }
  }

  &__button {
    @include flex-row;
    justify-content: center;
  }

  &__footer {
    margin-top: 72px;
    font-size: $fs-description;
    color: $c-spanish-gray;
    text-align: center;

    @media (max-width: 1430px) {
      margin-top: 35px;
    }
    @media (max-width: 768px) {
      margin-top: 15px;
    }
  }
}

.chapters-card {
  &__title {
    font-family: $f-Cardo;
    font-size: $fs-h4;

    @media (max-width: 1430px) {
      font-size: $fs-h5;
    }
    @media (max-width: 1024px) {
      font-size: $fs-base;
    }
    @media (max-width: 768px) {
      font-size: $fs-base - 4px;
    }
  }

  &__description {
    color: $c-spanish-gray;
    font-size: $fs-base;
    line-height: 33.6px;
    margin-top: 21px;

    @media (max-width: 1430px) {
      font-size: $fs-header;
      margin-top: 11px;
    }
    @media (max-width: 1024px) {
      font-size: $fs-header - 2px;
      line-height: normal;
      margin-top: 11px;
    }
    @media (max-width: 768px) {
      font-size: $fs-header - 6px;
    }
  }
}

.chapters-footer {
  &__text {
    margin-top: 39px;

    @media (max-width: 1430px) {
      margin-top: 35px;
    }
    @media (max-width: 1024px) {
      font-size: $fs-header - 2px;
    }
    @media (max-width: 768px) {
      margin-top: 15px;
      font-size: $fs-header - 6px;
    }

    &:nth-child(3) {
      margin-top: 3px;
    }
  }

  &__link {
    color: $c-indigo;
    line-height: 28.5px;
  }
}
