.learning {
  background-color: $c-cultured;

  &__wrapper {
    padding-top: 120px;
    padding-bottom: 140px;

    @media (max-width: 1430px) {
      padding-top: 50px;
      padding-bottom: 90px;
    }
    @media (max-width: 1024px) {
      padding-bottom: 50px;
    }
    @media (max-width: 480px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__content {
    flex: 50%;
    padding-top: 16px;
    padding-bottom: 40px;

    @media (max-width: 1024px) {
      padding-bottom: 0;
    }
  }

  &__title {
    @include title;
    line-height: 50.4px;
  }

  &__container {
    @include flex;
    margin-top: 65px;

    @media (max-width: 1430px) {
      margin-top: 60px;
      justify-content: space-around;
    }
    @media (max-width: 1024px) {
      margin-top: 20px;
      justify-content: space-between;
    }
    @media (max-width: 768px) {
      @include flex-column;
    }
    @media (max-width: 480px) {
      margin-top: 0px;
    }
  }

  &__description {
    @include flex-column;

    @media (max-width: 768px) {
      flex-basis: 70%;
    }
    @media (max-width: 580px) {
      flex-basis: 60%;
    }
    @media (max-width: 480px) {
      margin-top: 0px;
      margin-left: 0;
      @include flex-column;
      align-items: center;
      text-align: center;
    }
  }

  &__cards {
    display: flex;
    flex: 50%;

    &:nth-child(1) {
      margin-top: 78px;
      margin-bottom: 27px;

      @media (max-width: 1430px) {
        margin-top: 30px;
        margin-bottom: 27px;
      }
    }
  }

  &__card {
    position: relative;
    max-width: 276px;
    max-height: 232px;
    @include flex-column;
    padding: 43px 0 0 30px;
    align-items: flex-start;
    flex: 50%;
    background-color: $c-alice-blue;
    color: $c-indigo;

    @media (max-width: 1430px) {
      width: 193px;
      height: 192px;
      padding: 0 0 0 0;
    }
    @media (max-width: 1024px) {
      width: 180px;
      height: 220px;
    }
    @media (max-width: 768px) {
      width: 130px;
      height: 150px;
    }
    @media (max-width: 480px) {
      width: 150px;
      height: 70px;
    }

    &:nth-child(2) {
      margin-left: 29px;

      @media (max-width: 1024px) {
        margin-left: 10px;
      }
    }
  }

  &__image-wrapper {
    position: relative;
    right: 37px;
    top: 26px;
    max-width: 535px;
    max-height: 632px;

    @media (max-width: 1430px) {
      max-height: 496px;
      max-width: 420px;
    }
    @media (max-width: 1024px) {
      max-height: 310px;
      max-width: 262px;
    }
    @media (max-width: 768px) {
      right: 0;
      max-height: 148px;
      max-width: 126px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 19px;
      width: 535px;
      height: 632px;
      border: 10px solid $c-sunglow;

      @media (max-width: 1430px) {
        height: 496px;
        width: 420px;
      }
      @media (max-width: 1024px) {
        top: 8px;
        left: -16px;
        height: 310px;
        width: 262px;
      }
      @media (max-width: 768px) {
        height: 148px;
        width: 126px;
        border: 5px solid $c-sunglow;
      }
    }
  }
  &__image {
    position: relative;
    z-index: 90;
    width: 535px;
    height: 632px;

    @media (max-width: 1430px) {
      height: 496px;
      width: 420px;
    }
    @media (max-width: 1024px) {
      height: 310px;
      width: 262px;
    }
    @media (max-width: 768px) {
      height: 148px;
      width: 126px;
    }
  }
}

.learning-card {
  &__number {
    position: relative;
    z-index: 90;
    margin-left: 11px;
    font-family: $f-Cardo;
    font-size: $fs-h4 + 1px;
    color: $c-indigo;

    @media (max-width: 1430px) {
      font-size: $fs-h5;
      margin-top: 10px;
    }
    @media (max-width: 1024px) {
      font-size: $fs-base;
      margin-top: 10px;
    }
    @media (max-width: 768px) {
      font-size: $fs-base - 4px;
      margin-top: 5px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -13px;
      left: -11px;
      z-index: -1;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $c-sunglow;

      @media (max-width: 1430px) {
        bottom: -10px;
        left: -11px;
        width: 40px;
        height: 40px;
      }
      @media (max-width: 768px) {
        bottom: 0;
        left: -2px;
        width: 20px;
        height: 20px;
      }
    }
  }

  &__description {
    margin-top: 42px;
    font-family: $f-Cardo;
    font-size: $fs-h4;
    line-height: 33.6px;

    @media (max-width: 1430px) {
      font-size: $fs-base;
      margin-top: 15px;
    }
    @media (max-width: 1024px) {
      font-size: $fs-header;
      margin-top: 10px;
      line-height: normal;
    }
    @media (max-width: 768px) {
      font-size: $fs-header - 4px;
    }
  }
}
