.partners {
  background-color: $c-cultured;

  &__wrapper {
    padding-top: 110px;
    padding-bottom: 125px;

    @media (max-width: 1430px) {
      padding-top: 50px;
      padding-bottom: 70px;
    }
    @media (max-width: 480px) {
      padding-top: 20px;
      padding-bottom: 40px;
    }
  }

  &__title {
    margin-top: 17px;
    @include title;
  }

  &__cards {
    @include flex;
    margin-top: 75px;
    margin-left: 3px;

    @media (max-width: 1430px) {
      margin-top: 40px;
    }
    @media (max-width: 480px) {
      @include flex-column;
      margin-top: 20px;
    }
  }

  &__card {
    max-width: 313px;
    max-height: 254px;
    @include flex-column;
    align-items: center;

    @media (max-width: 480px) {
      margin-top: 10px;
    }

    &::nth-child(1) {
      margin-top: 0;
    }
  }
}

.partners-card {
  &__logo {
    max-width: 189px;
    max-height: 100px;

    @media (max-width: 768px) {
      max-width: 94px;
      max-height: 50px;
    }
    @media (max-width: 480px) {
      max-width: 57px;
      max-height: 30px;
    }
  }

  &__title {
    margin-top: 26px;
    font-family: $f-Cardo;
    font-size: $fs-h4;

    @media (max-width: 1430px) {
      margin-top: 13px;
    }
    @media (max-width: 768px) {
      font-size: $fs-header - 2px;
    }
    @media (max-width: 480px) {
      margin-top: 5px;
    }
  }

  &__description {
    display: flex;
    text-align: center;
    margin-top: 22px;
    font-size: $fs-base;
    color: $c-spanish-gray;
    line-height: 28.5px;

    @media (max-width: 1430px) {
      font-size: $fs-header;
      margin-top: 13px;
    }
    @media (max-width: 1024px) {
      font-size: $fs-header - 2px;
      line-height: normal;
    }
    @media (max-width: 768px) {
      font-size: $fs-header - 6px;
    }
    @media (max-width: 480px) {
      margin-top: 5px;
    }
  }

  &:nth-child(2) {
    margin-left: 14px;

    @media (max-width: 1430px) {
      margin-left: 10px;
    }
  }

  &:nth-child(3) {
    margin-left: 18px;

    @media (max-width: 1430px) {
      margin-left: 10px;
    }
  }

  &:nth-child(4) {
    margin-left: 13px;

    @media (max-width: 1430px) {
      margin-left: 10px;
    }
  }
}
