.readers {
  &__wrapper {
    padding-top: 120px;
    padding-bottom: 130px;

    @media (max-width: 1430px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media (max-width: 480px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__content {
    @include flex-row;
    padding-top: 10px;
    padding-bottom: 20px;

    @media (max-width: 1024px) {
      @include flex-column;
      padding-bottom: 0;
    }
  }

  &__description {
    @include flex-column;
    max-width: 468px;

    @media (max-width: 1024px) {
      align-items: center;
    }
  }

  &__title-top {
    position: relative;
    margin-top: 21px;
    font-family: $f-Cardo;
    font-size: $fs-h2;
    line-height: 50.4px;

    @media (max-width: 1430px) {
      font-size: $fs-h3;
    }
    @media (max-width: 768px) {
      font-size: $fs-base;
      line-height: normal;
      margin-top: 0;
    }
  }

  &__title {
    @include title2;

    @media (max-width: 1024px) {
      @include title;
      line-height: normal;
    }
  }

  &__text {
    margin-top: 62px;
    font-size: $fs-base;
    line-height: 33.6px;
    color: $c-spanish-gray;

    @media (max-width: 1430px) {
      font-size: $fs-header;
      margin-top: 40px;
    }
    @media (max-width: 1024px) {
      align-items: center;
      line-height: normal;
      font-size: $fs-header - 2px;
    }
    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }

  &__rating {
    margin-top: 27px;
    font-size: $fs-description;

    @media (max-width: 1024px) {
      font-size: $fs-header - 2px;
      margin-top: 10px;
    }
  }

  &__rating-circles {
    display: flex;
    align-items: center;
  }

  &__rating-text {
    margin-top: 16px;

    @media (max-width: 768px) {
      margin-top: 5px;
    }
  }

  &__cards {
    display: flex;
    margin-top: 8px;
    color: $c-white;
  }

  &__cards-left {
    @include flex-column;
    justify-content: space-around;
    margin-left: 30px;

    @media (max-width: 1430px) {
      margin-left: 10px;
    }
    @media (max-width: 1024px) {
      flex-direction: row;
      margin-top: 10px;
      margin-left: 0;
    }
  }

  &__cards-right {
    margin-left: 18px;
    @include flex-row;
    justify-content: center;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__card {
    max-width: 317px;
    max-height: 291px;
    padding: 30px 30px 30px 35px;
    background-color: $c-indigo;

    @media (max-width: 1430px) {
      padding: 10px 10px 10px 10px;
    }

    &:nth-child(2) {
      margin-top: 18px;

      @media (max-width: 1024px) {
        margin-top: 0;
        margin-left: 10px;
      }
    }
  }
}

.readers-card {
  &__header {
    @include flex-row;
  }

  &__author {
    font-family: $f-Cardo;
    font-size: $fs-h4;

    @media (max-width: 1430px) {
      font-size: $fs-base;
    }
    @media (max-width: 768px) {
      font-size: $fs-base - 8px;
    }
  }

  &__rating {
    display: flex;
    margin-top: 15px;

    @media (max-width: 1430px) {
      margin-top: 5px;
    }
  }

  &__image {
    max-width: 85px;
    margin-right: 20px;

    @media (max-width: 1430px) {
      max-width: 45px;
      margin-right: 10px;
    }
    @media (max-width: 768px) {
      max-width: 20px;
      margin-right: 5px;
    }
  }

  &__title {
    margin-top: 25px;
    font-family: $f-Cardo;
    font-size: $fs-h4 - 2px;

    @media (max-width: 1430px) {
      font-size: $fs-base;
      margin-top: 15px;
    }
    @media (max-width: 768px) {
      font-size: $fs-header - 6px;
      margin-top: 10px;
    }
  }

  &__text {
    margin-top: 15px;
    font-size: $fs-description;
    line-height: 28.8px;
    color: $c-light-steel-blue;

    @media (max-width: 1430px) {
      font-size: $fs-description - 2px;
      line-height: normal;
    }
    @media (max-width: 768px) {
      font-size: $fs-header - 6px;
      margin-top: 10px;
    }
  }
}
