.subscription {
  background-color: $c-white;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 122px;
    padding-bottom: 120px;

    @media (max-width: 1430px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media (max-width: 480px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__content {
    @include flex-column;
    align-items: center;
    background-color: $c-sunglow;
    padding: 96px 150px 115px 150px;

    @media (max-width: 1430px) {
      padding: 60px 100px 60px 100px;
    }
    @media (max-width: 480px) {
      padding: 20px 20px 20px 20px;
    }
  }

  &__title {
    @include title3;
    margin-bottom: 51px;

    @media (max-width: 1024px) {
      margin-bottom: 40px;
    }
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__description {
    font-size: $fs-description;
    line-height: 28.5px;
    text-align: center;

    @media (max-width: 1024px) {
      font-size: $fs-description - 2px;
      line-height: auto;
      letter-spacing: normal;
    }
    @media (max-width: 768px) {
      font-size: $fs-header - 6px;
      letter-spacing: normal;
      line-height: normal;
    }
  }

  &__input-button {
    margin-top: 50px;
    display: flex;
    width: auto;
    height: 70px;

    @media (max-width: 1024px) {
      margin-top: 30px;
    }
  }

  &__input {
    padding: 19px 39px;
    border: 1px solid $c-white;
    background-color: $c-white;
    width: 580px;

    @media (max-width: 1430px) {
      width: 380px;
      height: 38px;
      padding: 3px 39px;
    }
    @media (max-width: 768px) {
      width: 180px;
      height: 16px;
      font-size: $fs-header - 6px;
      letter-spacing: normal;
      line-height: normal;
      padding: 3px 10px;
    }
    @media (max-width: 480px) {
      width: 100px;
    }

    &:focus,
    &:active {
      border: 1px solid $c-white;
      outline: 1px solid $c-white;
    }
  }

  &__button {
    color: $c-white;
    margin-left: 16px;
    padding: 19px 121px;
    background-color: $c-indigo;
    border: 1px solid $c-indigo;
    cursor: pointer;
    transition: $t-normal;

    @media (max-width: 1430px) {
      height: 46px;
      padding: 4px 25px;
    }
    @media (max-width: 768px) {
      height: 25px;
      padding: 4px 5px;
      display: flex;
      align-items: center;
    }

    &:hover {
      border: 1px solid $c-indigo;
      color: $c-indigo;
      background-color: $c-white;
      box-shadow: inset 0 0 0 1px $c-indigo;
    }

    &--text {
      font-size: $fs-description;
      letter-spacing: 0.18 px;
      line-height: 30.6px;

      @media (max-width: 768px) {
        font-size: $fs-header - 6px;
        letter-spacing: normal;
        line-height: normal;
      }
    }
  }
}
