.button {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: $c-sunglow;
  padding: 18px 52px 19px;
  height: 66px;
  font-family: $f-Cardo;
  font-size: $fs-base;
  border: 2px solid $c-sunglow;
  cursor: pointer;
  transition: $t-normal;
  max-width: 222px;

  &__text {
    color: $c-indigo;
    letter-spacing: 0.57 px;
  }

  &:hover {
    background-color: $c-white;
    box-shadow: inset 0 0 0 1px $c-sunglow;
  }

  &__transparent {
    background-color: transparent;
    border: 2px solid $c-sunglow;
  }

  &__chapster {
    max-width: 429px;
    padding: 18px 100px 19px;
    height: 74px;
  }
}
