.circle-20 {
  height: 19px;
  width: 19px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: transparent;
  border: 1px solid $c-sunglow;

  @media (max-width: 1024px) {
    height: 12px;
    width: 12px;
  }
  @media (max-width: 768px) {
    height: 8px;
    width: 8px;
  }

  &:nth-child(5) {
    margin-right: 10px;
  }

  &__full {
    background-color: $c-sunglow;
  }

  &__half {
    background: linear-gradient(to right, $c-sunglow 50%, transparent 50%);
  }
}

.circle-13 {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: transparent;
  border: 1px solid $c-sunglow;

  @media (max-width: 1024px) {
    height: 7px;
    width: 7px;
  }
  @media (max-width: 768px) {
    height: 5px;
    width: 5px;
  }

  &:nth-child(5) {
    margin-right: 6px;
  }

  &__full {
    background-color: $c-sunglow;
  }

  &__half {
    background: linear-gradient(to right, $c-sunglow 50%, transparent 50%);
  }
}
