.icon-book {
  color: $c-sunglow;
  font-size: 28px;
}

.icon-facebook,
.icon-twitter,
.icon-linkedin,
.icon-instagram {
  color: $c-black;
  font-size: 14px;

  &__white {
    color: $c-white;
  }
}

.icon-cart {
  color: $c-black;
  font-size: 17px;
}

.icon-left,
.icon-right {
  color: $c-sunglow;
}
